/* Overall properties */
body {
	position: relative;
	font-family: 'GNUTypewriterStandard';
	font-weight: normal;
	font-style: normal;
	color:white;
	background-color: #1a1a1a;
}
html {scroll-behavior: smooth;}

/* Sectionwise padding and color properties */
#section0 {padding:100px 0px 0px 0px;}
#section0 h1{color:#00b3b3;}
#section1 {padding:50px 0px;}
#section1 h1{color:#7aa84d;}
#section2 {padding:50px 0px;}
#section2 h1{color:#d19961;}
#section3 {padding:50px 0px;}
#section3 h1{color:#80ccff;}
#section4 {padding:50px 0px;}
#section4 h1{color:#a6a6a6;}

/* Highligher */
b {color:#00b3b3;}

/* Zoom in effect */
figure {
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
@media only screen and (max-width:768px) {
	figure img {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
	}
}

/* Typewriter animation effect */
/* defining cursor */
#section0 h1 {
  border-right: solid 3px rgba(255, 255, 255, .75);
  white-space: nowrap;
  overflow: hidden;    
  margin: 0 auto;
}
@media only screen and (max-width:768px) {
	#section0 h1 {font-size:27px;}
}
@media only screen and (max-width:400px) {
	#section0 h1 {font-size:20px;}
}

/* animation */
#section0 h1 {
  animation: animated-text 4s steps(25,end) 1s 1 normal both,
             animated-cursor 600ms steps(25,end) 4s;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 600px;}
}
@media only screen and (max-width:768px) {
	@keyframes animated-text{
	  from{width: 0;}
	  to{width: 425px;}
	}
}
@media only screen and (max-width:400px) {
	@keyframes animated-text{
	  from{width: 0;}
	  to{width: 300px;}
	}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(255, 255, 255, .75);}
  to{border-right-color: transparent;}
}



/* Footer icons */
/* size transitions */
.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */

	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

/* multicoloured hover variations */
#social-gh:hover {
	color: white;
}
#social-li:hover {
	color: #0276b3;
}
#social-hp:hover {
	color: #d34836;
}
#social-em:hover {
	color: #f39c12;
}
